<main>
  <div class='container px-5 px-sm-0'>
    <div class='row'>
      <div class='col-md-3'>
        <% if user_signed_in? %>
          <%= render partial: "users/user_info", locals: { user: @user } %>
        <% else %>
          <h2>ようこそ!<br />
          ポートフォリオへ</h2>
          <p>本サイトはゲームアプリのレビューサイトです<br />
          気になるゲームの課金額を知りたい方へ</p>
          <div class="alert alert-danger">
            <p>レビューの詳細を見るためには<br />
            ログインまたはユーザー登録が必要です</p>
          </div>
        <% end %>
      </div>
      <div class='col-md-9'>
        <h2 class="page-title">新着レビュー</h2>
          <div class='row'>
            <div class="card-columns">
            <% @reviews.each do |review| %>
              <div class='col-md-4 mb-4'>
                <div class="card" style="width: 16rem;">
                  <%= link_to user_path(review.user) do %>
                    <%= attachment_image_tag review, :review_image, fallback: "default-image.jpg", size: "200x200", class: "card-img-top" %>
                  <% end %>
                  <h5 class="card-header text-truncate"><strong><%= review.title %></strong></h5>
                  <div class="card-body" style="height: 200px;  overflow: hidden;">
                    <h6 class="card-subtitle mb-2">総課金額 : <%= review.total_charge %> 円</h6>
                    <p class="card-text text-muted"><%= review.body %></p>
                  </div>
                  <div class="card-footer d-flex justify-content-center">
                    <a href="<%= review_path(review) %>" class="btn btn-primary">レビューを見る</a>
                  </div>
                </div>
              </div>
            <% end %>
            </div>
          </div>
        <div class="d-flex justify-content-center">
          <%= paginate @reviews %>
        </div>
      </div>
    </div>
  </div>
</main>
