<main>
  <p id="notice"><%= flash[:notice] %></p>
  <div class='container px-5 px-sm-0'>
    <div class='row'>
      <div class='col-md-3'>
        <% if user_signed_in? %>
          <%= render partial: "users/user_info", locals: { user: @user } %>
        <% else %>
          <h2>ようこそ!<br />
          ポートフォリオへ</h2>
          <p>本サイトはゲームアプリのレビューサイトです<br />
          気になるゲームの課金額を知りたい方へ</p>
          <div class="alert alert-danger">
            <p>レビューの詳細を見るためには<br />
            ログインまたはユーザー登録が必要です</p>
          </div>
        <% end %>
      </div>
      <div class='col-md-8 offset-md-1'>
        <h2>レビュー一覧</h2>
        <table class='table table-hover table-inverse'>
          <thead>
            <tr>
              <th></th>
              <th>Title</th>
              <th>Opinion</th>
              <th colspan="3"></th>
            </tr>
          </thead>
          <tbody>
            <% @reviews.each do |review| %>
              <tr>
                <td>
                  <%= link_to user_path(review.user) do %>
                    <%= attachment_image_tag review, :review_image, :fill, 60, 60, fallback: "default-image.jpg", class:"card-img-top"; %>
                  <% end %>
                </td>
                <td><%= link_to review.title, review_path(review) %></td>
                <td><%= review.body %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>