<main>
  <p id="notice"><%= flash[:notice] %></p>
  <div class='container'>
    <div class='row'>
      <div class='col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto'>
        <h2>新規投稿</h2>
        <%= form_with(model: @review, url: reviews_path, local: true) do |f| %>
          <div class="form-group">
            <%= f.label :"タイトル" %>
            <%= f.text_field :title, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :"評価(100点)" %>
            <%= f.number_field :rate, class: "form-control", style: "width: 150px;" %>
          </div>
          <div class="form-group">
            <%= f.label :"総課金額(円)" %>
            <%= f.number_field :total_charge, class: "form-control", style: "width: 150px;" %>
          </div>
          <div class="form-group">
            <%= f.label :"総プレイ時間(時間)" %>
            <%= f.number_field :total_time, class: "form-control", style: "width: 150px;" %>
          </div>
          <div class="form-group">
            <%= f.label :"本文" %>
            <%= f.text_area :body, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :"画像" %>
            <%= f.file_field :review_image, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.submit '投稿する', class: "btn btn-success", data: { disable_with: "投稿する" }%>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</main>